@model MediaLibrary.Models.ImageProcessingModel

@{
    ViewData["Title"] = "View Image";
    var Title = Model.OriginalName;
    var ImagePath = Model.ImageUri;
}

<h1>View</h1>

<h4>@Title</h4>
<hr />



<div class="row">
    <div class="column">
        <img class="RekognitionImage" src="@ImagePath" />
    </div>
    <div class="column" style="align-content:normal">
        <div style="text-align:left;margin:20px">
            @foreach (string label in Model.Labels)
            {
                <dd class="col-sm-10">
                    @label <br />
                    @*<input name="@label", type="checkbox" checked="checked" readonly="readonly" value="@label">@label<br/>*@
                </dd>
            }
        </div>
    </div>
    <div class="form-group">
        @Html.ActionLink("Return to list", "Index", "FileManagement");
    </div>



