@model IEnumerable<MediaLibrary.Models.FileMetadataDataModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Your media Files</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                File Uploaded
            </th>
            <th>
                Upload Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrigionalFileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @if(item.IsProcessed)
                {
                    @Html.ActionLink("View", "ViewItem", "Rekognition", new { item = item.KeyName });
                }
                else
                {
                    @Html.ActionLink("Process", "Process", "Rekognition", new { item = item.KeyName });
                }
                |
                @Html.ActionLink("Delete", "Delete", new { item = item.KeyName });

            </td>
        </tr>
}
    </tbody>
</table>
